.face {
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 38px;
	border: 1px solid #000;
	position: absolute;
	/*transform: translate3d(0, 0, -100px);*/
}

#main {
	width: 200px;
	height: 200px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	transform-style: preserve-3d;
	transform-origin: 0 0;
	perspective: 1000px;
	animation-name: main;
	animation-duration: 4s;
	animation-delay: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#top {
	transform-origin: 0 0;
	animation-name: top;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes top {
	to {
		transform: rotateX(90deg);
	}
}

#bottom {
	transform-origin: 0 200px;
	animation-name: bottom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes bottom {
	to {
		transform: rotateX(-90deg);
	}
}

#left {
	transform-origin: 0 0;
	animation-name: left;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}

@keyframes left {
	to {
		transform: rotateY(-90deg);
	}
}

#right {
	transform-origin: 200px 0;
	animation-name: right;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 6s;
}

@keyframes right {
	to {
		transform: rotateY(90deg);
	}
}

#back {
	animation-name: back;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 8s;
}

@keyframes back {
	to {
		transform: rotateY(180deg);
	}
}

#front {
	animation-name: front;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 10s;
}

@keyframes front {
	to {
		transform: translateZ(200px);
	}
}

@keyframes main {
	to {
		transform: rotate3d(1, 1, 1, 360deg);
	}
}