body, p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

html, body, #container, .sections, .section {
	width: 100%;
	height: 100%;
}

html, body {
	/* 用于消除页面滚动条 */
	/*overflow: hidden;*/
}

#container {
	width: 400%;
}

.section {
	color: #fff;
	/* width和float是横屏的关键 */
	width: 25%;
	float: left;
	background-size: cover;
}


/*#section0 {
	background-color: #000;
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	color: #fff;
}*/

#section0 {
	background-image: url("./image0.jpg");
}

#section1 {
	background-image: url("./image1.jpg");
}

#section2 {
	background-image: url("./image2.jpg");
}

#section3 {
	background-image: url("./image3.jpg");
}