#content-layer {
	width: 1280px;
	height: 720px;
}

#image-layer {
	position: absolute;
	top: 0;
	right: 0;
}

#image-layer::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border: 0px solid rgba(0, 0, 0, 0.2);
	border-radius: 0 0 0 5px;
	border-right-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

#image-layer:hover:before {
	border-right-width: 80px;
	border-bottom-width: 80px;
}


/*.paper-flip.folded #image-layer:before {
	border-right-width: 1000px;
	border-bottom-width: 600px;
}*/